<%- include('partials/header') %>

<div class="container mt-5" style="position: static">

  <h1>Register</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <!-- Makes POST request to /register route -->
          <form action="/register" method="POST">

            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" name="name" style="border: none;
              border-bottom: 1px solid #ccc">
            </div>
            <br />
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" name="email" style="border: none;
              border-bottom: 1px solid #ccc">
            </div>
            <br />
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" style="border: none;
              border-bottom: 1px solid #ccc;">
            </div>
            <br />
            <button type="submit" class="btn btn-dark">Register</button>

          </form>

        </div>
      </div>
    </div>


  </div>
</div>

<%- include('partials/footer') %>
